@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
:root{
    --blue:#24ebf9;
}   

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
}

*::selection{
    background:var(--blue);
    color: #333;
}

html{
    font-size: 60%;
    overflow-x: hidden;

}

html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background: #222; 
}

html::-webkit-scrollbar-thumb{
    background:var(--blue); 
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 20rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:25rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .usuario img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
    border:.7rem solid var(--blue);
}

header .usuario .nombre{
    font-size: 3rem;
    color:#fff;
}

header .usuario .profesión{
    font-size: 2.5rem;
    color:#fff;
}


header .menu{
    width:100%;
}


header .menu ul{
    list-style: none;
    padding:1rem 2.5rem;
}

header .menu ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .menu ul li a:hover{
    background:var(--blue);
}

/* comienzo inicio*/

.inicio{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/sobremi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.inicio{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 15rem;
}

.inicio h3{
    font-size: 2.5rem;
    color:#24ebf9;
}


.inicio p{
    font-size:2rem;
    color:#eee;
    padding:1rem 0;
}

/* comienzo educación*/
.educación{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/educación.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.educación{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 15rem;
}

.educación h1{
    font-size: 2.5rem;
    color:#24ebf9;
}

.educación span{
    font-size: 2.5rem;
    color:#24ebf9;
}

.educación h3{
    font-size: 2.5rem;
    color:#fff;
}


.educación p{
    font-size:2rem;
    color:#eee;
    padding:1rem 0;
}

/* comienzo experiencia laboral*/
.experiencialaboral{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/laboral.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.experiencialaboral{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 15rem;
}

.experiencialaboral h1{
    font-size: 2.5rem;
    color:#24ebf9;
}

.experiencialaboral span{
    font-size: 2.5rem;
    color:#24ebf9;
}

.experiencialaboral h3{
    font-size: 2.5rem;
    color:#fff;
}


.experiencialaboral p{
    font-size:2rem;
    color:#eee;
    padding:1rem 0;
}

.vermás_btn {
    background-color: #24ebf9;
    border: none;
    border-radius: 40px;
    color: black;
    padding: 15px 32px;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px 0px #24ebf9;
    cursor: pointer;
  }
     
  .ocultartexto {
    display: none;
  }
  
  .mostrartexto {
    display: block;
  }

  /* Habilidades */
  .habilidades{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/habilidades.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

  .habilidades{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 15rem;
}

.habilidades h1{
    font-size: 2.5rem;
    color:#24ebf9;
}

.habilidades ul{
    font-size: 2rem;
    color:#fff;
}

/* contacto */
.contactos{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../imagenes/contactos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.contactos{
    display: flex;
    justify-content: center;
    flex-flow: column wrap-reverse;
    padding: 15rem;
}

.contactos h1{
    font-size: 2.5rem;
    color:#24ebf9;
}